/* Write your CSS here */
.user-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-name {
  font-size: 22px;
  font-family: 'roboto';
  font-weight: 400;
}
.delete-button {
  color: #ff0b37;
  border: 1px solid #ff0b37;
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
}
